.dpolygraph-viewer-container {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f8f9fa;
}

.placeholder-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #6c757d;
    font-style: italic;
}

#dpolygraph-svg {
    display: block;
}

.sector-polygon {
    stroke: #2c3e50;
    stroke-width: 3;
    stroke-linejoin: round;
    fill-opacity: 0.7;
    transition: stroke 0.2s ease-in-out, fill-opacity 0.2s ease-in-out;
}

    .sector-polygon:hover {
        fill-opacity: 0.9;
    }
