################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DHEMapConverterCSharp/obj
/.vs
/DHEMapConverterCSharp/.vs
/DHEMapConverterCSharp/bin
/commands.txt
