################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DHEMapConverterCSharp/obj
/.vs
/DHEMapConverterCSharp/.vs
/DHEMapConverterCSharp/bin
/commands.txt
/DGraphToDHEMap/obj
/DGraphToDHEMap/bin/Debug/net5.0
/DGraphToDHEMap/.vs/DGraphToDHEMap
/DGenesis/.vs/DGenesis
/DGenesis/obj
/DGenesis/bin/Debug/net5.0
